<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  <!--
  <logger name="org.hibernate.SQL" level="TRACE"/>
  <logger name="org.hibernate.engine.query" level="TRACE"/>
  <logger name="org.hibernate.type" level="TRACE"/>
  <logger name="org.hibernate.jdbc" level="TRACE"/>
  -->
  <logger name="org.springframework" level="INFO"/>
  <logger name="com.github.sejoung" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
